<mat-card>
  <mat-toolbar>
    <mat-toolbar-row class="flex justify-between">
      <div>
        <button mat-button class="font-bold text-2xl">
          <mat-icon fontIcon="code"></mat-icon>
          <span class="hidden sm:block"> Devlinks </span>
        </button>
      </div>
      <div>
        <button mat-button class="inline align-middle">
          <mat-icon fontIcon="link" class="m-auto"></mat-icon>
          <span class="hidden sm:block"> Links </span>
        </button>
        <button mat-button>
          <mat-icon fontIcon="account_circle"></mat-icon>
          <span class="hidden sm:block"> Profile Details </span>
        </button>
      </div>
      <div>
        <button mat-stroked-button>
          <mat-icon fontIcon="visibility" class="block sm:hidden"></mat-icon>
          <span class="hidden sm:block"> Preview </span>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</mat-card>
